<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhinkachika</title>
</head>
<body>
    <div style="background-color: blue; height: 40px;width: 100%;">
        <h1 style="text-align: center;color: white;"> This is my new Website</h1> <hr/>
    </div>
    <div style="background-color: rgb(96, 0, 151);height: 200px;">
        <br/>
        <p>This is Ratuls website</p>
        <h3> Ordered List </h3>
            <ol type="i" style="color: orangered;">
                <li>This is no.1 </li>
                <li>This is no.2 </li>
                <li>This is no.3 </li>
                <li>This is no.4 </li>
            </ol>
    </div>
    <div style="background-color: rgb(9, 250, 210);height: 200px;">
        <br/>
        <h3>Unordered List </h3>
        <ul type="circle" style="color: forestgreen;">
            <li>This is no.1 </li>
                <li>This is no.2 </li>
                <li>This is no.3 </li>
                <li>This is no.4 </li>
        </ul>
    </div>
    <div style="background-color: darksalmon;">
        <br/><h4>This is safi babu</h4>
        <img src="D:\Pictures\imp\IMG_20210614_142613268.jpg" height="350", width="250",title="This is safi babu",alt="No pic available" />
        <h4>play this song please</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N7hRliNblZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="background-color: mediumorchid;height: 100px;">
        <br/>
        <a href="D:\University\HTML\Practice\page2.html">Go to next page</a>
        <br/><br/><br/>
    </div>

</html>
